<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>MyMoney Bank - Employee Portal</title>
</head>

<body>
	<h3>Browse All Clients</h3>
	<table border="1">
		<tr>
			<th>Client ID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Employee Assigned</th>
		</tr>
		<tr th:each="client: ${allClients}">
			<td th:text="${client.client_id}">
			<td th:text="${client.client_fname}">
			<td th:text="${client.client_lname}">
			<td th:text="${client.employee_assigned}">
		</tr>
	</table>
	<br><br>
	<h3>Select a client id to browse questionnaire reponses.</h3>
	<div align="center">
		<form action="#" th:action="@{/employee/clientdetails}" method="post" th:object="${selectedClient}">
			<table>
				<tr>
					<td>
						<select class="form-control" id="dropDownList" th:field="*{client_id}">
							<option th:each="client: ${allClients}" th:value="${client.client_id}"
								th:text="${client.client_id}">
							</option>
						</select>
					</td>
				</tr>

				<tr>
					<td>
						<input name="submit" type="submit" value="submit" />
					</td>
				</tr>
			</table>
		</form>
	</div>


</body>

</html>