<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>MyMoney Bank - Investment Planner</title>
</head>

<body>
	<h3>Here are the products that meet your criteria!</h3>
	<br>
	<table border="1">
		<tr>
			<th>Product ID</th>
			<th>Product Name</th>
			<th>Term (Days)</th>
			<th>Expected Interest Rate (%)</th>
			<th>Minimum Principal</th>
			<th>Maximum Principal</th>
			<th>Days per Compounding Period</th>
			<th>Effective Interest Rate (%)</th>
			<th>Product Description</th>
		</tr>
		<tr th:each="product: ${productList}">
			<td th:text="${product.product_id}">
			<td th:text="${product.product_name}">
			<td th:text="${product.num_of_days}">
			<td th:text="${product.interest_rate}">
			<td th:text="${product.min_principal}">
			<td th:text="${product.max_principal}">
			<td th:text="${product.days_per_compounding}">
			<td th:text="${product.effective_rate}">
			<td th:text="${product.product_desc}">
		</tr>
	</table>
	<br>
	<h3>One of our advisors will contact you shortly to discuss more.</h3>
</body>

</html>